<section class="app-footer">

    <div class="container-fluid"><span class="float-left"><span><!-- react-text: 377 -->Copyright © <!-- /react-text --><a class="brand" target="_blank" href="https:www.fastup.com">FastUp</a><!-- react-text: 379 --> <!-- /react-text --><!-- react-text: 380 -->2017<!-- /react-text --></span></span>
        <span class="float-right"><span><!-- react-text: 383 -->Built with Love <!-- /react-text --><i class="material-icons">favorite_border</i></span></span>
    </div>
</section>