

<div class="container-fluid">
  <div class="card ">
      <br>
      <br>
      <br>
        <div class="container">

     <section class="container-fluid with-maxwidth chapter">     
          <article class="article">          
            <div class="row justify-content-md-center">
              <div class="col-xl-10">
                <div class="card card-white">
                  <div class="row " style="background-color: rgb(207, 216, 220);">
                 <div class="col-md-8 box-header  text-left"  ><strong>Tomcat/MySQL</strong></div>
 <div class="col-md-4 box-header text-right" ><strong>Estimated Cost </strong>&nbsp;<button mat-raised-button color="primary" disabled >$ 250</button></div>
                  </div>
                  <!--<div class="feature-callout feature-content-center image-cover">-->
                      <div  class="feature-callout feature-content-center image-cover" style="background-image: url(assets/images/background/green.png); background-position: left center">
                  <div class="card-content">
                     
           <div class="row">
                <div class="col-sm-12">  
                <h6><b>Congratulations </b></h6> 
              </div>
              <br>
              <br>
          
           <div class=" col-sm-12">              
             <b> This type of infrostructure usually takes 30 to 60 minutes to be ready. Please refresh this page on bookmark this link, (https://app.fastup.com/trail/randomlygeneratedid)
            </b> 
            </div>
            <br>
            <br>
            <br>
            
            <div class=" col-sm-12">              
                <b> Since you did provided your email address, we have sent this information to you and will leave this on for you to try for 24 hours. Please request an invite if you would like to know more about purchasing or longer trails.
               </b> 
               </div>
               <br>
               <br>
               <br>
               <div class=" col-sm-12">              
                  <b> Support
                 </b> 
                 </div>
                 <br>
                 <br>
                 <br>
                 <div class=" col-sm-12">              
                    <b> Remember that every infracture on FastUp comes with 24/7/365 support included. Please go to support.fastup.com for requesting support.
                   </b> 
                   </div>
                
                                  
            <br>
            <br>
         
             
          
           </div>
                      
                  </div>
                      </div>
                  <!--</div>-->
                </div>
              </div>
              </div>
          </article>
        </section>
        </div>
    </div>
</div>