

<div class="container-fluid">
    <div class="card ">
        <br>
        <br>
        <br>
        <div class="container">

     <section class="container-fluid with-maxwidth chapter">     
          <article class="article">          
            <div class="row justify-content-md-center">
              <div class="col-xl-10">
                <div class="card card-white">
                  <div class="row " style="background-color: rgb(207, 216, 220);">
                 <div class="col-md-8 box-header  text-left"  ><strong>Tomcat/MySQL</strong></div>
 <div class="col-md-4 box-header text-right" ><strong>Estimated Cost </strong>&nbsp;<button mat-raised-button color="primary"  disabled>$ 250</button></div>
                  </div>
                   <!--<div class="feature-callout feature-content-center image-cover">-->
                      <div class="feature-callout feature-content-center image-cover" style="background-image: url(assets/images/background/skyblue.png); background-position: left center"> 
                  <div class="card-content">
                     
           <div class="row">
                <div class="col-sm-12">  
                <h6><strong>Naming </strong></h6> 
              </div>
              <br>
              <br>
          
           <div class=" col-sm-12">              
             <b>Naming For free trail  we setup this template on a randomly generated URL.If you would like to use a custom domain name,please request an invite.
            </b> 
            </div>
            <div class=" col-sm-12">              
                <b> Your new app URL is: https://randomname.fastup.com 
               </b> 
               </div>
        
            <br>
            <br>
             <div class=" col-sm-12">   
                <button mat-raised-button color="primary"  [routerLink]="['/app/user']" class="btn-w-md list-unstyled float-left">Previous</button>
             <button mat-raised-button color="primary"  [routerLink]="['/app/review']" class="btn-w-md list-unstyled float-right">Next</button>
           </div>
           </div>
                      
                  </div>
                      </div>
                   </div>
                <!--</div> -->
              </div>
              </div>
          </article>
        </section>
        </div>
    </div>
</div>