<section class="container-fluid with-maxwidth chapter ">
    <article class="article">
        <div class="container">
            <div class="row ">
                <div class="col-xl-10  mx-auto">
                    <div class="card card-white ">
                        <div class="card-image ">
                            <img src="assets/images/background/orange.png" style="height:200px;">
                            <span class="card-title col-xl-6" style="bottom: -20px;     
                                left: 113px;">Magento</span>
                        </div>
                        <div class="card-content">
                            <a class="card-profile-img float-left" href="javascript:;"><img src="assets\images\background/Magento-logo.png" alt=""></a>
                            <div class="col-md-12 box-header text-right"><strong>Estimated Cost </strong>&nbsp;<button mat-raised-button color="primary" disabled>$ 250</button></div>
                            <h6><b><span>Highlights </span></b></h6>
                            <div class="box box-default  col-xl-8 ">
                                <div class="box-body  ">
                                    This Template creates an Architecture Stack providing a highly available web application server.It is fronted by a CDN and backed by RDS MySQL Database.This will scale to millions of users and development workflow is backed in.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3">
                                    <b>Infrastructure  location: </b>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Ohio  ">
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-xl-3">
                                    <b>CDN Edge locations: </b>
                                </div>
                                <div class="col-xl-3">
                                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder=" Worldwide">
                                </div>
                            </div>

                        </div>
                        <div class=" col-sm-12">
                            <button mat-raised-button color="primary" [routerLink]="['/app/environment']" class="btn-w-xl list-unstyled float-right">Next</button>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </article>
</section>